# Files and directories created by pub
.dart_tool/
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# .DS_Store (macOS)
.DS_Store

# VS Code
.vscode/

# Documentation (Nextra - Next.js - pnpm)
docs/.next/
docs/out/
docs/node_modules/
docs/.pnpm-debug.log
docs/.pnpm-lock.yaml
docs/pnpm-lock.yaml
docs/pnpmfile.js
docs/pnpm-workspace.yaml
docs/yarn.lock
